p {
    font-family: 'Alata', sans-serif;
   }
h1 {
    font-family: Arial, Helvetica, sans-serif;
}  
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bgcolor {
    0% {
      color: #b1e896
    }
  
    100% {
      color: #E8D33F
    }
  }

.TextHead {
    cursor: crosshair;
    transition: .5s ease;
    animation: bgcolor 20s infinite;
    font-weight: bold;    
  }

.TextHead:hover {
    font-size: 20px; 
}

a {
    text-decoration: none; /* no underline */
    color: inherit; /* blue colors for links too */
    cursor: inherit;
}

@keyframes bgcolor {
  0% {
    color: #808080
  }

  100% {
    color: #808080
  }
}

.Silver {
  cursor: crosshair;
  transition: .5s ease;
  animation: bgcolor 20s infinite;
  font-weight: bold;    
}

.Silver:hover {
  font-size: 20px; 
}

a {
  text-decoration: none; /* no underline */
  color: inherit; /* blue colors for links too */
  cursor: inherit;
}